"""Configuration for celery workers."""

broker_url = "amqp://myuser:mypassword@localhost:5672/myvhost"
result_backend = "rpc://"

task_serializer = "json"
result_serializer = "json"
accept_content = ["json"]
timezone = "Europe/London"
enable_utc = True
